:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: rgba(76, 76, 76, 255);
    /*#23232e*/
    --bg-secondary: rgba(0, 179, 199, 255);
    /*#141418*/
    --transition-speed: 300ms;


}

.wrench-color-1 {
    color: silver;
}

.wrench-color-2 {
    color: gray;
}


.fa-primary {
    color: #fff;
}

.fa-secondary {
    color: rgba(11, 222, 176, 255);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
    z-index: 1;


}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.logout {
    bottom: 0.1rem;
    position: absolute;
    left: 0;

}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    /*Color del texto del navbar*/
    text-decoration: none;

    filter: grayscale(95%) opacity(0.7);
    transition: var(--transition-speed);

}


/*.nav-link_logo {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);

    text-decoration: none;

    filter: grayscale(95%) opacity(0.7);
    transition: var(--transition-speed);

} */

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);

}
 /*Texto Navbar Menú*/
.link-text {
    display: none;
    margin-left: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.nav-link svg {

    min-width: 2rem;
    margin: 0 1.5rem;
    /*0 1.5rem*/

}

.navbar:hover {
    width: 16rem;

}

.navbar:hover .link-text {
    display: block;
}



.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    opacity: 100%;
    
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
    color: white;
   
}



/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }

}

/*Tabla de Usuarios empieza aquí*/

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(../imagenes/logo_bio75.png);
    background-repeat: no-repeat;
    background-color: rgba(61, 173, 243, 0.682);
    background-position: center;
    background-attachment: fixed;
}

.table {

    margin: auto;

}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    width: 20rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1de;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr .hide {
    opacity: 0;
    translate: translateX(100%);
}
/*Cambia el color de fila cuando se hace hover*/
tbody tr:hover {
    background-color: #fff6;
    cursor:pointer;
}


/*Tabla borrosa debajo de la tabla principal*/
main.table { 
    width: 82vw;
    height: 80vh;/*90vh*/
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .7rem;
    margin-top: 2rem;
}

.table-header {
    text-align: left;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-top: -1rem;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.table-header .input-group {
    width: 20%;
    height: 70%;
    /*Alto de la barra de busqueda*/
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.table-header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table-header .input-group input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.table-header .input-group:hover {
    width: 25%;
    background-color: #fff9;
    box-shadow: 0 .1rem .4rem #0002;
}

.table-body {
    width: 100%;
    max-height: calc(90% + 0.2rem);
    /*Tabla de nombres*/
    background-color: #fffb;
    border-radius: .6rem;
    margin: .8rem auto;

    overflow: auto;


}

.table-body::-webkit-scrollbar-thumb {
    border-radius: .9rem;
    background-color: #0004;

}

.table-body::-webkit-scrollbar {

    width: .5rem;

}

.table-body:hover::-webkit-scrollbar-thumb {
    visibility: visible;

}

/*Navbar de herramientas*/

.navbar-bottom {
    width: 4rem;
    /* Ancho del círculo */
    height: 4rem;
    /* Alto del círculo */
    position: fixed;
    bottom: calc(5% + .5rem);
    /*5.5rem*/
    left: 24.5%;
    /*28.5rem*/
    background-color: #fff5;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    /* Hacer que el navbar sea un círculo */
    transition: width 0.1s ease;
    /* Agregar transición para suavizar el efecto de cambio de tamaño */
    overflow: hidden;
    /* Ocultar el contenido que se extiende fuera del círculo */
    transform-origin: right center;
    /* Establecer el origen de la transformación en el lado derecho */
    gap: 0.5rem;
    display: flex;
    align-items: center;

    background: linear-gradient(315deg, #ffffff 0% #d7e1ec 74%);

}

.navbar-bottom:not(.expanded) .bottom-itemadd,
.navbar-bottom:not(.expanded) .bottom-itemdel,
.navbar-bottom:not(.expanded) .bottom-itemmod,
.navbar-bottom:not(.expanded) .bottom-itempass,
.navbar-bottom:not(.expanded) .bottom-itempriv {
    display: none;
}

/*Configuracion de botones*/
.bottom-itemadd {
    display: inline-flex;
    height: 30px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
    
}

.bottom-itemdel {
    display: inline-flex;
    height: 30px;
    padding: 0;
    background: #950000;
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.bottom-itemmod {
    display: inline-flex;
    height: 30px;
    padding: 0;
    background: #b3b000;
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.bottom-itempass {
    display: inline-flex;
    height: 30px;
    padding: 0;
    background: #004f95;
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.bottom-itempriv {
    display: inline-flex;
    height: 30px;
    padding: 0;
    background: #7400a1;
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/*Configuracion de los iconos de los botones del navbar*/

.bottom-item__text,
.bottom-item-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
}

.bottom-item-icon {
    font-size: 1.5em;
    background: rgb(0, 0, 0, 0.08);
}

.bottom-itemadd:hover {
    background-color: #008168;

}

.bottom-itemadd:active {
    background-color: #006e58;

}


/*Configuracion del boton para abrir el navbar de herramientas*/
.expand-btn {
    z-index: 1;
    position: absolute;
    /* Establece el botón como posición absoluta */
    bottom: 0;
    /* Lo fija en la parte inferior del navbar */
    left: 0;
    /* Lo fija en la esquina izquierda del navbar */
    width: 4rem;
    /* Ancho del botón */
    height: 4rem;
    /* Alto del botón */
    background-color: #fff9;
    /* Color de fondo */
    
    padding: 1rem;
    /* Espacio interior */
    border-radius: 5rem;
    /* Hacer que el botón sea un círculo */
    border: none;
    /* Sin borde */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre él */
}

.expanded { 
    width: 17rem;
    padding-left: 5rem;
}

@keyframes shake {
    0% {
        transform: rotate(-180deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.shake-animation {
    animation: shake .5s ease;
}

.hidden{
    display: none;
}
